.app{
    width: 80%;
    margin: auto;
    position:absolute;
    top: 25%;
    left: 10%;
    right: 10%;
}
.stepper{
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 20px;
}
.active{
    background-color: red !important;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.buttons>button{
    width: 100px;
    height: 50px;
    background-color: antiquewhite;
}